:host {
    --tag-bg: green;
    --tag-color: white;
    --tag-border-radius: 5px;
    --tag-input-width: 100px;
    --tag-input-display: inline;
}

.tag-list {
    margin: 0px;
    padding: 0px;
    display: inline;
}

.tag-list .tag-outer {
    display: inline-block;
    /* border-bottom: 1px solid black; */
    padding: 2px;
}

.tag-list .tag-inner {
    background: var(--tag-bg);
    color: var(--tag-color);
    border-radius: var(--tag-border-radius);
    padding: 5px;
    margin: 0 5px 0 0;
}

.tag-input {
    display: var(--tag-input-display);
    border-bottom: solid 1px;
    padding: 8px;
}

.tag-input input {
    border: none;
    width: var(--tag-input-width);
}

.tag-input input:focus {
    outline: none;
}

.tag-btn-remove {
    margin-left: 5px
}

.tag-btn-add {
    background: none;
    border: none;
}

.tag-btn-add:focus {
    outline: none;
}